
.barra_abajo{
    width: 4.5%;
    height: auto;
  
    background-color:rgba(4, 3, 30, 0.5);

    display: inline-block;
    justify-content:flex-end;
    align-items: center;
   
}
.barra_icon{
    width: 2.5rem;
    height: 2.5rem;
    
    margin-right: 0.3rem;
    margin-left: 0.3rem;

    border-radius: 100%;
    margin-top: 1rem;

    border: 1px solid rgb(255, 200, 0);
    text-align: center;
    justify-content: center;


}



.barra_icon:hover{
    background-color: #ffffff3f;
   
    
    color: #fff;
    transition: 0.5s;

}
.barra_icon_img{
    margin-top: 0.5rem;
    width: 1.5rem;
}

.hora{
    margin-top: 24rem;
    margin-right: 0.1rem;
    font-size: 0.45rem;
    color: aliceblue;

    text-align: center;
}